.DS_Store
.venv
.env
.flaskenv
*.pyc
*.pyo
venv
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
__pycache__
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
config.ini


# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover